.calculadora{

    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
    background-color: #2E2E2E;
    margin-top: 30px;
    padding: 30px;
}



.visor{
    margin-bottom: 15px;
    text-align: right;
    width: 205px;


}

.borda {
    border: 3px solid white;
}